* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* --Background-Colors */
  --primaryBg-color: #fff;
  --secondaryBg-color: #0891b2;
  --projectOneBg-color: #9e1c1c;
  --projectTwoBg-color: #7c75ca;
  --projectThreeBg-color: #5e8f4d;
  --projectFourBg-color: #c363b4;
  --projectFiveBg-color: #d88f39;
  --projectSixBg-color: #4ba2d2;
  /* --Text-Colors */
  --primaryText-color: #000;
  --secondaryText-color: #565656;
  --tertiaryText-color: #fff;

  /* Fonts */
  --headerFonts: "Playfair Display", serif;
  --bodyFonts: "Roboto", sans-serif;
}

body {
  background-color: var(--primaryBg-color);
}

/* *--General Styles* */
h2,
h3 {
  font-family: var(--headerFonts);
  color: var(--primaryText-color);
}

p {
  font-family: var(--bodyFonts);
  color: var(--secondaryText-color);
}

/* *--Header--* */

.about__me {
  padding: 4em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blue-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 27em;
  background-color: var(--secondaryBg-color);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.about-me-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  /* box-shadow: 10px 15px -3px rgb(0 0 0 / 0.1); */
}

.about-me-photo {
  position: relative;
  width: 18em;
  height: 18em;
}

.header-img {
  width: 100%;
  height: 100%;
  transform: scaleY(1.2);
  box-shadow: 10px 15px -3px rgb(0 0 0 / 0.1);
}

.about-me-text {
  background-color: var(--primaryBg-color);
  padding: 1.4em 0.9em;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.about-me-text .about-h2 {
  color: var(--primaryText-color);
  font-size: 2rem;
  font-weight: 500;
}

.about-me-text .about-p {
  width: 60ch;
  line-height: 1.4;
  font-size: 1rem;
}

.about-me-socials {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.7em;
}

.about-me-socials a {
  height: 22px;
  width: 24px;
}

/* *--Main--* */

.my__work h2 {
  font-size: 2.2rem;
  font-weight: 400;
}

.work-card {
  background-color: var(--primaryBg-color);
  box-shadow: 0 8px 10px -1px rgb(0 0 0 / 0.1);
}

.project-one {
  background-color: var(--projectOneBg-color);
}

.project-two {
  background-color: var(--projectTwoBg-color);
}

.project-three {
  background-color: var(--projectThreeBg-color);
}

.project-four {
  background-color: var(--projectFourBg-color);
}

.project-five {
  background-color: var(--projectFiveBg-color);
}

.project-six {
  background-color: var(--projectSixBg-color);
}

.work-card .work__image {
  text-align: center;
  padding: 3.3em 2em;
}

.work__image h2 {
  color: var(--primaryBg-color);
}

.work-card .work__text {
  padding: 1em 2em 4em 2em;
  background-color: var(--primaryBg-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.work-card .work__text h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.work__text .name-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__github {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

/* *--Footer--* */

.contact__me {
  background-color: var(--secondaryBg-color);
  margin-top: 6em;
  color: var(--primaryBg-color);
  display: flex;
  justify-content: space-between;
  padding: 4em 5.5em;
}

.contact-me-details {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  padding: 2em 0;
}

.contact-me-details h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--primaryBg-color);
}

.contact-me-details p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primaryBg-color);
  width: 30ch;
  line-height: 1.2;
}

.tel__text {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.phone__text,
.email__text {
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.footer--socials {
  display: flex;
  gap: 1.2em;
}

.footer--socials a {
  height: 30px;
  width: 30px;
}

.footer-img-container {
  width: 40em;
  height: auto;
}

.footer-img {
  width: 100%;
  height: 100%;
}

/* *Laptop Design* */

@media screen and (min-width: 1024px) {
  /* *--HEADER--* */

  .name-overlay {
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    color: var(--primaryBg-color);
    text-align: center;
    padding: 1em;
  }

  .name-overlay h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primaryBg-color);
  }

  .about-me-text {
    background-color: var(--primaryBg-color);
    padding: 1.4em 0.9em;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .laptop-p-hidden {
    display: none;
  }

  /* *--MAIN--* */

  .my__work {
    padding: 0 4em;
    margin: 4em 2em;
  }

  .my__work__projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    row-gap: 2.6em;
    margin-top: 1em;
  }

  /* *--FOOTER--* */

  .contact__me {
    background-color: var(--secondaryBg-color);
    margin-top: 6em;
    color: var(--primaryBg-color);
    display: flex;
    justify-content: space-between;
    padding: 4em 5.5em;
  }
}

/* *--TABLET DESIGN--* */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* *HEADER* */

  .about-me-container {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: relative;
    background-color: var(--primaryBg-color);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    width: 30em;
    padding: 3em 1.6em;
  }

  .about-me-photo {
    position: absolute;
    left: 0;
    top: -2em;
    z-index: 1;
    margin-top: -4em;
    margin-left: -2.8em;
    width: 17em;
    height: 18em;
  }

  .header-img {
    transform: scaleY(1);
  }

  .about-me-text {
    padding: 0;
    width: 50%;
    background-color: none;
    box-shadow: none;
    gap: 0.8em;
  }

  .about-me-text .about-h2 {
    text-align: center;
  }

  .about-me-text .about-p {
    width: 100%;
  }

  .about-me-text p {
    line-height: 1.4;
    font-size: 1rem;
  }

  .tablet-p-hidden {
    display: none;
  }

  .about-me-socials {
    display: none;
  }

  .name-overlay {
    position: absolute;
    top: 0;
    right: -70%;
  }

  .name-overlay h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primaryBg-color);
  }

  /* *--MAIN--* */

  .my__work {
    padding: 0 4em;
    margin: 4em 0 10em 0;
  }

  .my__work__projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    row-gap: 2.6em;
    margin-top: 1em;
  }

  /* *--FOOTER--* */
  .contact__me {
    padding: 4em;
  }

  .contact-me-details p {
    font-size: 1rem;
  }

  .footer-img-container {
    width: 50%;
  }
}

/* *--MOBILE DESIGN--* */

@media screen and (max-width: 767px) {
  /* *--HEADER--* */

  .about-me-container {
    /* margin-top: 6em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: var(--primaryBg-color); */
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1); */
    width: 100%;
    padding: 0em 1em;
  }

  .about-me-photo {
    /* position: absolute;
    left: 0;
    top: -2em;
    z-index: 1;
    margin-top: -4em;
    margin-left: -2.8em; */
    width: 17em;
    height: auto;
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1); */
  }

  .header-img {
    transform: scaleY(1);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .about-me-text {
    margin-top: 1em;
    padding: 0;
    width: 100%;
    background-color: none;
    box-shadow: none;
    gap: 0.8em;
  }

  .about-me-text .about-h2 {
    text-align: center;
  }

  .about-me-text .about-p {
    width: 100%;
  }

  .about-me-text p {
    line-height: 1.4;
    font-size: 1rem;
  }

  .laptop-p-hidden {
    display: none;
  }

  .tablet-p-hidden {
    display: inline;
  }

  .about-me-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    margin-top: 0.7em;
  }

  .about-me-socials a {
    height: 22px;
    width: 24px;
  }

  .name-overlay {
    position: absolute;
    bottom: 0;
    /* right: -70%; */
  }

  .name-overlay h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primaryBg-color);
  }

  /* *--MAIN--* */

  .my__work {
    padding: 0 2em;
    margin: 3em 0 10em 0;
  }

  .my__work h2 {
    text-align: center;
  }

  .my__work__projects__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    row-gap: 2.6em;
    margin-top: 1em;
  }

  /* *--FOOTER--* */
  .contact__me {
    padding: 4em;
  }

  .contact-me-details {
  }
}
